<h1>Add a New City Record for <%= @state.name %> State</h1>

<form action="/states/<%= @state.id %>/cities" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <h5>Name:</h5>
  <input type='text' name='City[name]'/><br/>
  <h5>Population:</h5>
  <input type='text' name='City[population]'/><br/>
  <h5>Owner Occupied Housing Unit Rate:</h5>
  <input type='text' name='City[owner_occupied_housing_unit_rate]'/><br/>
  <h5>Form of Government:</h5>
  <input type='text'name='City[form_of_gov]'/><br/>
  <h5>Size:</h5>
  <input type='text' name='City[size]'/><br/>
  <h5>Median Household Income</h5>
  <input type='text' name='City[median_household_income]'/><br/>
  <h5>Does it have public transit? true or false:</h5>
  <input type='text' name='City[public_transit]'/><br/>
  <br/><input type='submit' name='Create City'/>
</form>