<h1>List of States</h1>
<a href="/cities">All Cities</a> |

<ul><% @states.each do |state| %>
  <h3><a href="/states/<%= state.id %>"><%= state.name %></a></h3>
  <p>Created on <%= state.created_at %></p>
  <% end %>
</ul>

<a href="/">Home</a>